<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bullhorn</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <link rel="icon" href="{% static "frontend/favicon.ico" %}"
    />
  </head>
  <body>
    <div>
      {% if user.is_authenticated %}
      {{ request.user.get_username|json_script:"user_id" }}
      <div id="root">
      </div>
      {% else %}
      <header>
        <img src="{%static "frontend/bullhornog.png" %}"
    </header>
        <main>
        <nav>
            <div>
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </nav>
          {% block content %}
          {% endblock content %}
        </main>
      {% endif %}
  </div>
    {% if request.path == '/login/' or request.path == '/logout/' or request.path == '/signup/' %}
      <footer>
        <h1>© <img height="20px" src="{%static "frontend/bullhorntexttransparent.png" %}" </h1>
      </footer>
    {% endif %}

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>
